@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 22.5rem;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.25rem;
  justify-content: end;
}
.menu__link {
  font-weight: 500;
  line-height: 1.4;
  color: #fff;
}
.menu__link {
  transition: color 0.3s;
}
.menu__actions {
  display: none;
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  z-index: 10;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background: #272727;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  z-index: 2;
  position: relative;
  flex-shrink: 0;
}
.header__logo img {
  aspect-ratio: 191/53;
}
.header__menu {
  flex: 0 1 29.5rem;
}
.header__actions {
  z-index: 2;
  position: relative;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header__button {
  max-width: 16.125rem;
  text-transform: none;
  font-size: 1rem;
  font-weight: 500;
}
.header__phone {
  white-space: nowrap;
  color: #fff;
  line-height: 1.2;
  transition: color 0.3s;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.button {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  background: #f93f06;
  border-radius: 2.5rem;
  transition: all 0.3s;
}
:where(.button) {
  font-weight: 700;
  font-size: 1rem;
  max-width: 19.125rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.hero {
  min-height: calc(100vh - var(--header-height));
  position: relative;
}
.hero__container {
  z-index: 3;
  position: relative;
  display: grid;
  justify-items: center;
  padding-top: 7.1875rem;
  padding-bottom: 7.1875rem;
}
.hero__title {
  text-wrap: balance;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: #fff;
}
.hero__title span {
  color: #f93f06;
}
.hero__text {
  text-wrap: balance;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
}
.hero__parallax {
  position: fixed;
  width: 100%;
  height: calc(100% - var(--header-height));
  top: 0;
  left: 0;
  margin-top: var(--header-height);
}
.hero__parallax::before {
  content: "";
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 22.5rem;
  top: 0;
  left: 0;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
.hero__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hero__background img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.hero__grass {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 3.875rem;
  left: 0;
  bottom: 0;
  background: url("../assets/img/hero/grass.webp");
  background-size: contain;
  background-position: bottom left;
  background-repeat: repeat-x;
}
@media (max-width: 61.99875em){
  .menu__list {
    column-gap: 1rem;
  }
  .menu__link {
    font-size: 0.875rem;
  }
  .header__container {
    gap: 0.9375rem;
  }
  .header__logo {
    padding-left: 6.25e-8rem;
  }
  .header__actions {
    gap: 1rem;
  }
  .header__button {
    font-size: 0.875rem;
  }
  .header__button {
    padding-block: 0.5rem;
  }
  .header__button {
    max-width: 13.75rem;
  }
  .header__phone {
    font-size: 1.125rem;
  }
  .header__phone {
    display: none;
  }
  .hero__container {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
  .hero__grass {
    bottom: -0.9375rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 29.99875em){
  .menu__scroll {
    padding-inline: 1.5625rem;
  }
}
@media (max-width: 47.99875em) and (max-width: 22.5em){
  .menu__scroll {
    padding-inline: 0.9375rem;
  }
}
@media (max-width: 47.99875em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 47.99875em){
  .menu__body {
    cursor: default;
    position: absolute;
    width: 100%;
    left: 0;
    top: 4rem;
  }
  [data-fls-menu-open] .menu__body {
    padding-bottom: 1rem;
  }
  .menu__scroll {
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
  }
  [data-fls-menu-open] .menu__scroll {
    overflow: auto;
    height: 10.6875rem;
  }
  .menu__scroll > *:not(:last-child) {
    margin-bottom: 2.1875rem;
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
  }
  .menu__link {
    font-size: 1rem;
  }
  .menu__actions {
    display: grid;
    justify-items: center;
    gap: 1.25rem;
  }
  .icon-menu {
    flex: 0 0 1.5rem;
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #f93f06;
    border-radius: 0.125rem;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .header {
    padding-block: 0.875rem;
  }
  .header::before {
    content: "";
    position: absolute;
    height: 100%;
    inset: 0;
    background: #272727;
    transition: height 0.4s;
    z-index: -1;
  }
  [data-fls-menu-open] .header::before {
    height: 16.875rem;
    border-radius: 0 0 1.25rem 1.25rem;
  }
  .header__logo {
    flex-basis: 8.125rem;
  }
  .header__phone {
    display: block;
  }
  .hero__title {
    line-height: 1.5;
  }
}
@media (max-height: 37.5em) and (max-width: 22.5em){
  .hero {
    min-height: 33.75rem;
  }
}
@media (max-height: 37.5em){
  .hero__parallax {
    min-height: 31.25rem;
  }
}
@media (max-width: 29.99875em){
  .header__container {
    gap: 0.75rem;
  }
  .header__logo {
    flex-basis: 7.5rem;
  }
  .header__actions {
    gap: 0.75rem;
  }
  .header__button {
    font-size: 0.8125rem;
  }
  .header__button {
    padding-inline: 0.75rem;
  }
  .hero__title {
    font-size: 1.5rem;
  }
  .hero__text {
    font-size: 1.25rem;
  }
  .hero__button {
    max-width: none;
    padding-block: 0.75rem;
  }
}
@media (max-width: 24.37375em){
  .header__logo {
    flex-basis: 6.875rem;
  }
  .header__button {
    font-size: 0.75rem;
  }
}
@media (max-width: 22.5em){
  .hero__title:not(:last-child) {
    margin-bottom: 0.25rem;
  }
  .hero__text:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .hero__button {
    font-size: 0.875rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 22.5em) and (max-width: 29.99875em){
  .menu__scroll {
    padding-inline: clamp( 0.9375rem , -0.93781255209375rem  +  8.3347224537vw , 1.5625rem );
  }
}
@media (max-height: 37.5em) and (min-width: 76.875em){
  .hero {
    min-height: 31.875rem;
  }
}
@media (max-height: 37.5em) and (min-width: 22.5em) and (max-width: 76.875em){
  .hero {
    min-height: clamp( 31.875rem , 34.5258620689625rem  +  -3.4482758621vw , 33.75rem );
  }
}
@media (min-width: 22.5em) and (max-width: 76.875em){
  .hero__title:not(:last-child) {
    margin-bottom: clamp( 0.25rem , -0.0603448275875rem  +  1.3793103448vw , 1rem );
  }
  .hero__text:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 1.6034482758625rem  +  -0.4597701149vw , 1.5rem );
  }
  .hero__button {
    font-size: clamp( 0.875rem , 0.82327586206875rem  +  0.2298850575vw , 1rem );
  }
}
@media (min-width: 29.99875em) and (max-width: 76.875em){
  .hero__title {
    font-size: clamp( 1.5rem , 0.70005466520625rem  +  2.6665955575vw , 2.75rem );
  }
  .hero__text {
    font-size: clamp( 1.25rem , 0.770032799125rem  +  1.5999573345vw , 2rem );
  }
}
@media (min-width: 47.99875em) and (max-width: 76.875em){
  .header {
    padding-block: clamp( 0.875rem , -0.06000010821875rem  +  1.9479676204vw , 1.4375rem );
  }
  .header__logo {
    flex-basis: clamp( 8.125rem , 0.4372213324125rem  +  16.016622657vw , 12.75rem );
  }
}
@media (min-width: 61.99875em) and (max-width: 76.875em){
  .menu__list {
    column-gap: clamp( 1rem , -5.25144945803125rem  +  10.0831862869vw , 2.5rem );
  }
  .menu__link {
    font-size: clamp( 0.875rem , 0.3540458785rem  +  0.8402655239vw , 1rem );
  }
  .header__container {
    gap: clamp( 0.9375rem , -4.532518275775rem  +  8.822788001vw , 2.25rem );
  }
  .header__logo {
    padding-left: clamp( 6.25e-8rem , -3.1257244060375rem  +  5.0415927233vw , 0.75rem );
  }
  .header__actions {
    gap: clamp( 1rem , -1.3442935467625rem  +  3.7811948576vw , 1.5625rem );
  }
  .header__button {
    font-size: clamp( 0.875rem , 0.3540458785rem  +  0.8402655239vw , 1rem );
  }
  .header__button {
    padding-block: clamp( 0.5rem , -0.54190824300625rem  +  1.6805310478vw , 0.75rem );
  }
  .header__phone {
    font-size: clamp( 1.125rem , 0.6040458785rem  +  0.8402655239vw , 1.25rem );
  }
}
@media (min-width: 76.875em){
  .menu__list {
    column-gap: 2.5rem;
  }
  .menu__link {
    font-size: 1rem;
  }
  .header {
    padding-block: 1.4375rem;
  }
  .header__container {
    gap: 2.25rem;
  }
  .header__logo {
    flex-basis: 12.75rem;
  }
  .header__logo {
    padding-left: 0.75rem;
  }
  .header__actions {
    gap: 1.5625rem;
  }
  .header__button {
    font-size: 1rem;
  }
  .header__button {
    padding-block: 0.75rem;
  }
  .header__phone {
    font-size: 1.25rem;
  }
  .hero__title {
    font-size: 2.75rem;
  }
  .hero__title:not(:last-child) {
    margin-bottom: 1rem;
  }
  .hero__text {
    font-size: 2rem;
  }
  .hero__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .hero__button {
    font-size: 1rem;
  }
}
@media (any-hover: hover){
  .menu__link:hover {
    color: #f93f06;
  }
  .header__phone:hover {
    color: #f93f06;
  }
  .button:hover {
    translate: 0 -0.25rem;
    color: #f93f06;
    background: #fff;
    box-shadow: 0 0.9375rem 1.5625rem 0.3125rem rgba(0, 0, 0, 0.08);
  }
}